<a href="https://colab.research.google.com/github/manammadhan123/Case-Madhan/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.linear_model import LinearRegression
x=[[1],[2],[3],[4],[5]]
y=[1000,2000,3000,4000,5000]
model=LinearRegression()
model.fit(x,y)
prediction=model.predict([[7]])
print(prediction)

[7000.]

In [4]:
x=[[1],[2],[3],[4],[5]]
y=[30,50,55,60,65]
model=LinearRegression()
model.fit(x,y)
prediction=model.predict([[9]])
print(prediction)

[100.]

In [10]:
from sklearn.linear_model import LogisticRegression
x=[[10],[11],[12],[13],[17],[18],[21]]
y=[1,1,1,1,1,0,0]
model=LogisticRegression()
model.fit(x,y)
prediction1=model.predict([[15]])
prediction2=model.predict([[19]])
print(prediction1)
print(prediction2)

[1]
[0]

In [16]:
from sklearn.tree import DecisionTreeClassifier
x=[[1],[2],[3],[4],[5]]
y=[1,0,1,0,1]
model=DecisionTreeClassifier()
model.fit(x,y)
prediction=model.predict([[6]])
print(f"6 is {'Odd' if prediction[0]==1 else 'Even'}")

6 is Odd

In [18]:
import pandas as pd
url='https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df=pd.read_csv(url)
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [19]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [20]:
df_dropped=df.dropna()
print(df_dropped.head())

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
10           11         1       3
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
10      1   PP 9549  16.7000    G6        S
11      0    113783  26.5500  C103        S

In [21]:
df['Age']=df['Age'].fillna(df['Age'].mean())
print(df['Age'].head())

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

KeyError: 'salary'